<h2>Prossimi Live 2012 - 2013</h2>

<table class="table table-condensed">
  <thead>
    <th>Data</th>
    <th>Luogo</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  </tr>
<tbody>
<% @forthcoming_gigs = Gig.where('data >= ?', Date.today).order(:data) %>
<% @forthcoming_gigs.each do |gig| %>
  <tr>
    <td><p><%= gig.data %></p></td>
    <td><p><%= gig.luogo %></p></td>
    <td><p><%= gig.note %></p></td>
  </tr>
<% end %>
</tbody>
</table>

<h2>Archivio Live</h2>

<table class="table table-condensed">
  <thead>
    <th>Data</th>
    <th>Luogo</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  </tr>
<tbody>
<% @past_gigs = Gig.where('data < ?', Date.today).order(:data) %>
<% @past_gigs.each do |gig| %>
  <tr>
    <td><p><%= gig.data %></p></td>
    <td><p><%= gig.luogo %></p></td>
    <td><p><%= gig.note %></p></td>
  </tr>
<% end %>
</tbody>
</table>


<br />
